/* Header styles */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #logo {
    text-decoration: none;
    color: white;
    font-size: 5vh;
    font-weight: bold;
  }
  
  #menu-icon {
    font-family: Geneva, sans-serif;
    font-size: 6vh;
  }
  
  /* Hero styles */
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    color: white;
    background: url(https://static.vecteezy.com/system/resources/previews/047/385/522/non_2x/young-green-plants-sprouting-from-the-soil-with-the-sun-s-rays-c-free-photo.jpg) center center no-repeat;
    background-size: cover;
    opacity: 0.7; /* Adjust opacity as needed */

  }
  
  .hero-title {
    max-width: 16em;
    margin: 0;
    font-size: 12vh;
    font-weight: bold;
    line-height: .9;
  }
  
  @media only screen and (min-width: 32em) {
    .hero-title {
      font-size: 16vh;
    }
  }
  
  .hero-footer {
    display: flex;
    margin-bottom: 1em;
  }
  
  .button {
    padding: .5em .67em;
    color: white;
    text-decoration: none;
    border: .1em solid white;
  }
  
  .button-primary {
    color: black;
    background-color: white;
  }
  
  /* Article styles */
  article {
    max-width: 36em;
    margin: 0 auto;
    padding: 1em;
  }
  
  /* Drop Zone styles */
  .drop-zone {
    border: 2px dashed white;
    padding: 40px; /* Increased padding to make drop zone bigger */
    text-align: center;
    margin: 150px 150px;
    transition: background-color 0.3s;
    width: 900px;

    height: 350px; /* Set a fixed height to increase the size */
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .drop-zone p {
    margin: 0;
    color: black;
    font-size: 1.2em;
  }
  
  .drop-zone.dragging {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .plus-sign {
    width: 50px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    padding-top: 50px;
}
  
  