.profile-container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Century Gothic', 'Roboto', 'Arial', sans-serif;
    background-color: #faf3dd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    margin-bottom: 30px;
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-right: 40px;
    object-fit: cover;
    border: 2px solid #ddd;
}

.user-details {
    max-width: 500px;
}

.my-plants {
    margin-top: 20px;
}

.plants-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.plant-item {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.plant-item:hover {
    background-color: #f0f0f0;
}

.plant-photo {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.chart-container {
    margin-top: 30px;
}
